:root {
  --root-background-color: linear-gradient(to top right, #fff, #eee);
  --root-text-color: #333;

  // COMPONENTS
  // Button
  --button-color: #17D4A8;
  --button_outlined-border: #17D4A8;
  --button_outlined-hover-color: #fff;
  --button_text-hover-color: #fff;

  // Header
  --header_title-color: linear-gradient(to right, #333, #111);
  --header_paragraph-color: #666;
  --header_placeholder_strips-background-color: red;
  --header_placeholder_squares-background-color: red;

  // Footer
  --footer_paragraph-color: #888;

  // Board

  // CodeOutput
}

@media (prefers-color-scheme: dark) {
  :root {
    // Global
    --root-background-color: linear-gradient(to top right, #333, #111);
    --root-text-color: #fff;

    --primary: #17D4A8;
    --primary-dark: #0C6E57;

    // COMPONENTS
    // Button
    --button-color: #17D4A8;
    --button_outlined-border: #17D4A8;
    --button_text-hover-color: #fff;
    --button_outlined-hover-color: #fff;

    // Header
    --header_title-color: linear-gradient(to right, #fff, #ccc);
    --header_paragraph-color: #999;
    --header_placeholder_strips-background-color: lime;
    --header_placeholder_squares-background-color: lime;

    // Footer
    --footer_paragraph-color: #888;

    // Board

    // CodeOutput

    // Input
    --input-background: #404040;
    --input-border-color: #888888;

    // UplaodDocument
    --upload-document_button-color: var(--primary);
  }
}