/**
 *
 * Board Styles
 *
 * @version 1.0.0
 *
 */

.board__container {
  border: .1rem solid #888;
  border-radius: .5rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .3);
  position: relative;
  min-height: 42.5rem;
  position: relative;
  width: 100%;

  /* Se la griglia è attiva, aggiungiamo un background repeating. */
  &.grid-active {
    background-color: #fff;
    background-image:
      linear-gradient(to right, #eee .05rem, transparent .05rem),
      linear-gradient(to bottom, #eee .05rem, transparent .05rem) !important;
    background-size: 20px 20px !important;
    background-position: top left !important;
  }
}


/* Blocchi */
.block {
  box-sizing: border-box;
  cursor: pointer;
}

/* Se un blocco è selezionato */
.selected {
  outline: .125rem solid #F12093;
}

/* Animazione "shimmer" base (usiamo background-position animato) */
.shimmer {
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}