/**
 *
 * Controller Styles
 *
 * @version 1.0.0
 *
 * @author vittorioscaperrotta
 * @since 30-Jan-2025
*/

.controller__container {
  align-items: center;
  background-color: var(--input-background);
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .3);
  border-radius: .5rem;
  bottom: 1rem;
  display: flex;
  border-radius: .25rem;
  gap: .5rem;
  justify-content: center;
  left: 50%;
  padding: .5rem;
  position: absolute;
  transform: translateX(-50%);

  .divider {
    background-color: #fff;
    height: 2rem;
    opacity: .5;
    width: .1rem;
  }

  .controller__button {
    align-items: center;
    border: 0;
    border-radius: .25rem;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 2rem;
    outline: none;
    padding: .25rem;
    transition: all .2s ease-in-out;
    width: 2rem;

    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }

    &.clear {

      &:hover,
      &:focus {
        background: linear-gradient(to top right, #6E0C0C, #D41717);
      }

      &:active {
        background: linear-gradient(to top right, #6E0C0C, #D41717);
        filter: brightness(1.2);
      }
    }

    &.editing {
      &.active {
        background: linear-gradient(to top right, #0C6E57, #17D4A8);
      }
    }

    &.functionality {
      &.active {
        background: linear-gradient(to top right, #0c4d6e, #178bd4);
      }
    }

    &.active {
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}

.mode-buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mode-button {
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.mode-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.mode-button.active {
  background-color: #007bff;
  color: #fff;
}

.clear-button {
  background-color: #dc3545;
  /* Rosso per l'azione distruttiva */
  color: #fff;
}

.clear-button:hover:not(:disabled) {
  background-color: #c82333;
}